<div class="container">
<div class="row col-md-12">
	
</div>
<div id="banner" >
    <div class="banner container" class="clearfix" >
    	<div class="middle text-center">
    		<h1>LISTEN TO YOU</h1>
    	</div>
    </div>
</div>

<% @listeners.each do |l| %>
	<div class="col-md-4">
		<div class="intro">
		 	<h4>
		 	<%= l.name %>
		 	</h4>
			<%#= link_to l.name, listener_path(l) %>
		</div>
		<div class="listener_img">
		<%#= image_tag l.photo.url(:medium) %>
		<%= link_to image_tag(l.photo.url(:medium)), listener_path(l) %>
		</div>
	</div>
<% end %>

</div>

<section class="intro">
   <div class="container clearfix">
   	  <h3 class="text-center">
   	  	Do you like to have someone <em>LISTEN</em> to you? Just click the above people!
   	  </h3>      	  
   </div>
	
</section>


