<table class= "table">
<th>time options</th>
<th>delete</th>
<% @availabletimes.each do |t| %>  
 <tr>
  <td><%= t.time_start %></td>
  <td><%= link_to "delete", admin_availabletime_path(t),:method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to "new", new_admin_availabletime_path, :class => "btn btn-default"  %>
