<form>
<div class="form-group">
	<%= f.label :quantity %>
	<%= f.text_field :quantity, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.select :listener_timeship_ids, l.listener_timeships.unorder.map{ |x| [ x.availabletime.time_start, x.id] }, {}, :multiple => true, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.submit :class => "btn btn-default" %>
</div>
</form>

<script>
   $("#order_listener_timeship_ids").select2();
</script>
